body{
    background-color: #EBEBEB;
}

.divB{
    background-color: white;
    height: 500px;
    width: 50vh;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divC{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.divD{
    background-color: #D65B00;
    height: 100px;
    width: 30%;
}

.divE{
    background-color: #00AB00;
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;;
}